* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    text-decoration: none;
    color: #333;
    scroll-behavior: smooth;
    list-style: none;
}

h1,
h2 {
    font-family: 'Playfair Display';
    font-weight: bold;
}

h2 {
    font-size: 36px;
}

.btn {
    border: none;
    border-radius: none;
}

.btn-warning {
    background-color: #FF9B25;
    color: #fff;
}

.btn-warning:hover {
    color: #FF9B25;
    background-color: #fff;
}

.btn-warning:active,
.btn-warning:focus {
    background-color: #FF9B25;
    color: #fff;
}

.logo {
    display: flex;
    place-items: center;
}

.logo img {
    width: 32px;
    height: 32px;
}

.logo a {
    margin-left: 8px;
}

#home {
    width: 100%;
    height: 100vh;
    position: relative;
}

#home {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#about {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 50px;

}

#about .container {

    border-radius: 15px;

    background: #fff;
}

.htext {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.htext h1 {
    font-size: 64px;
    letter-spacing: 3px;
}

.htext p {
    font-size: 18px;
    opacity: .7;
}

.htext a button {
    width: 150px;
}

#kenalan {
    outline: 2px solid #FF9B25;
    outline-offset: -2px;
    color: #fff;
    background: transparent;
}

#kenalan:hover {
    color: #FF9B25;
    background-color: #fff;
    outline: none;
}

#nav {
    width: 100%;
    background: #fff;
    z-index: 999;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.125);
}

.nav li a {
    color: #333;
    transition: .3s ease-in-out;
}

.nav li a:hover {
    color: #FF9B25;
}

[data-tab-content] {
    display: none;
}

.act[data-tab-content] {
    display: block;
}

.aboutList .tab:nth-child(1) {
    margin-left: inherit;
}

.aboutlist {
    height: 400px;
}

.aboutList .tab {
    margin-left: 32px;
}

.aboutList .tab {
    margin-left: 32px;
}

#gallery {
    width: 100%;
}

.galleryTitle a,
.intro a {
    align-content: center;
}

.post-wrapper,
.postContainer {
    width: 100%;
    height: 370px;
    margin: 0px auto;
    overflow: hidden;

}

.post-wrapper .post,
.postContainer .post {
    width: 300px;
    height: 350px;
    margin: 0 10px;
    display: inline-block;
    background: white;

    border-radius: 5px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);

}

.post-wrapper .post .post-info,
.postContainer .post .post-info {
    height: 130px;
    padding: 0px 5px;
}

.post-wrapper .post .slider-image,
.postContainer .post .slider-image {
    width: 100%;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

footer {
    width: 100%;
    background-color: #333;
    padding-top: 80px;
    padding-bottom: 10px;
    padding-left: 10%;
    padding-right: 10%;
}

footer h2 {
    font-size: 21px;
    padding-bottom: 12px;
    color: #FF9B25;
}

footer a {
    text-decoration: none;
    color: #333;
    color: #fff;
    opacity: .7;
}


footer a:hover {
    color: #FF9B25;
}

footer p {
    color: #fff;
    opacity: .7;
}

#cursor-btn {
    position: absolute;
    cursor: pointer;
    z-index: 9999;
    top: 85%;
    left: 90%;
    display: none;
}

#cursor-btn svg {
    position: fixed;
    width: 80px;
}

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 38px;
    background: #FF9B25;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 8px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

.scroll-up-btn:hover {
    opacity: .5;
}

.arrow {
    position: relative;
    margin: auto;
    width: 5%;
    top: 8.5em;
    animation: scroll-arrow 1s ease-in-out infinite;
}

.arrow img {
    cursor: pointer;
}

.rutenav {
    margin-left: 21px;
    color: #FF9B25;
    background: none;
}

.rutenav:hover {
    border: 1px solid #FF9B25;
}

@keyframes scroll-arrow {
    0% {
        transform: translateY(-5px);
    }

    25% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(5px);
    }

    75% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-5px);
    }
}

.seeall a {
    color: #0b91a3;
    text-decoration: none;
}

.seeall a:hover {
    color: #FF9B25;
}

.testimonials-clean {
    color: #313437;
    background: #f5f6f8;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-bottom: 2em;
    padding-top: 1em;
}

.testimonials-clean p {
    color: #7d8285;
}

.testimonials-clean h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
}

@media (max-width:767px) {
    .testimonials-clean h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }
}

.testimonials-clean .intro {
    font-size: 16px;
    margin: 0 auto;
}

.testimonials-clean .intro p {
    margin-bottom: 0;
}

.testimonials-clean .people {
    padding: 20px 0 20px;
}

.testimonials-clean .item {
    margin-bottom: 32px;
}

@media (min-width:768px) {
    .testimonials-clean .item {
        height: 220px;
    }
}

.testimonials-clean .item .box {
    padding: 30px;

    background-color: #fff;
    position: relative;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

.testimonials-clean .item .box:after {
    content: '';
    position: absolute;
    left: 30px;
    bottom: -24px;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-width: 12px 15px;
    border-top-color: #fff;
}

.testimonials-clean .item .author {
    margin-top: 28px;
    padding-left: 25px;
}

.testimonials-clean .item .name {
    font-weight: bold;
    margin-bottom: 2px;
    color: inherit;
}

.testimonials-clean .item .title {
    font-size: 13px;
    color: #9da9ae;
}

.testimonials-clean .item .description {
    font-size: 15px;
    margin-bottom: 0;
}

.testimonials-clean .item img {
    max-width: 40px;
    float: left;
    margin-right: 12px;
    margin-top: -5px;
}

hr {
    width: 70%;
    margin: auto;
}

#contact {
    margin-top: 4em;
    margin-bottom: 4em;
}

#contact .container {
    padding-left: 2%;
    padding-right: 2%;
}

#contact h4 {
    font-family: 'Playfair Display';
    font-weight: bold;
}

.contact {
    display: flex;
    place-items: center;
}

.contact p {
    margin-top: 1em;
}

.form,
.contacts {
    background: #f5f6f8;
    padding: 4em;
}

#form #button {
    padding: .5em 1em;
    background: #FF9B25;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-top: 2em;
}

.contacts {
    border: 2em solid #f5f6f8;
    padding-top: 2em;
    background: #fff;

}

.navbtn {
    color: #FF9B25;
    background: rgba(255, 155, 37, .2);
}

.social img {
    width: 32px;
    height: 32px;
    margin-left: 1em;
}

.offer a {
    color: #ff9b25;
    font-size: 18px;

}

.offer a:hover {
    color: #333;
    text-decoration: none;
}

form label {
    font-size: 14px;
    font-weight: 600;
    opacity: .7;
    margin-top: 6px;
}

@media only screen and (max-width: 720px) {
    .arrow {
        top: 3em;
    }

    .htext h1 {
        font-size: 36px;
    }

    #about {
        padding-top: none;
        width: 100%;
        height: 140vh;
    }

    #about img {
        width: 50%;
    }

    .aboutlist {
        height: 300px;
    }

    .testimonials-clean {
        padding-left: 5%;
        padding-right: 5%;
    }

}